<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Reglas del Torneo de Fútbol</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- JS de Bootstrap (incluye Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body id="back">
  <div id="loader" class="loader"> </div>
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <nav class="nav-color navmenu navbar navbar-expand-lg bg-light container-xl">
      <div class="container-fluid">

        <!-- Logo a la izquierda -->
        <a class="navbar-brand" href="#">
          <img src="/assets/img/logo.png" alt="Logo" height="40">
        </a>

        <!-- Botón hamburguesa para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
          aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú a la derecha -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
          <ul class="navmenu navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Tabla de Posiciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partidos">Partidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/goleador">Goleador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reglas"><span>reglas</span></a>
            </li>


          </ul>
        </div>

      </div>
    </nav>
  </div>
  <div class="container mt-5">
    <h1 class="mb-4 text-center tituloPrincipal">Reglas del Torneo de Fútbol</h1>
    <ol class="list-group-numbered">
      <li class="list-group-item">Los equipos contarán con un total de 15 jugadores.</li>
      <li class="list-group-item">Cada capitán de equipo tendrá hasta la jornada 5 para entregar lista y foto de
        jugadores que conforman su equipo.</li>
      <li class="list-group-item">Los equipos podrán realizar hasta 6 cambios; estos cambios se realizarán cuando la
        pelota no esté en juego y el árbitro lo autorice.</li>
      <li class="list-group-item">Ningún jugador podrá cambiar de equipo; este deberá terminar el torneo con el cuadro
        que comenzó.</li>
      <li class="list-group-item">Todos los jugadores en campo deberán tener uniforme completo (playera, short, calcetas
        y calzado deportivo).</li>
      <li class="list-group-item">Cada equipo deberá contar con un balón en buenas condiciones para iniciar el partido.
      </li>
      <li class="list-group-item">Cada equipo debe contar con una persona encargada de recoger el balón del lado de su
        cancha, esto para agilizar el juego.</li>
      <li class="list-group-item">El pago del arbitraje tendrá que ser abonado antes de iniciar el encuentro.</li>
      <li class="list-group-item">Solo habrá un tiempo de tolerancia de 10 minutos.</li>
      <li class="list-group-item">Los equipos podrán ser sancionados con un punto menos por insultos, ya sea a jugadores
        del equipo contrario o al árbitro.</li>
    </ol>
    <hr>
    <h1 class="mb-4 text-center tituloPrincipal">DINÁMICA DE JUEGO</h1>
    <ol class=" list-group-numbered">
      <li class="list-group-item">La duración del partido será de 50 minutos, siendo cada tiempo de 25 minutos.</li>
      <li class="list-group-item">Tiros de esquinas, balón a tierra.</li>
      <li class="list-group-item">Cualquier conducta antideportiva será sancionada según el reglamento.</li>
      <li class="list-group-item">Saques de banda, teniendo las dos manos en contacto con el balón; de no ser así, se
        cambiará e saque de banda a favor del equipo contrario.</li>
      <li class="list-group-item">Los tiros libres contarán con una barrera; esta se encontrará a 5 pasos de distancia y
        se ejecutará hasta que el árbitro lo indique.</li>
      <li class="list-group-item">Se aplicará ley de ventaja; esta se ejecutará a consideración del árbitro.</li>
      <li class="list-group-item">El árbitro sancionará a un jugador con tarjeta amarilla o roja según la intensidad de
        la entrada realizada; la sanción por tarjeta roja será con un partido de suspensión para el jugador, ya sea por
        roja directa o doble amarilla. En caso de ser por conducta antideportiva, esta sanción se incrementará hasta un
        máximo de 3 partidos para el jugador.</li>
      <li class="list-group-item">El portero no podrá tomar el balón con las manos en cualquier tipo de pase, incluido saque de banda.</li>
    </ol>
    <hr>
    <h1 class="mb-4 text-center tituloPrincipal">ÁREA DE PARTIDOS</h1>
    <ol class="list-group-numbered">
      <li class="list-group-item">No se podrá acceder al campo con ningún tipo de vehículo, todos tendrán que estar
        afuera de las instalaciones.</li>
      <li class="list-group-item">Usar los espacios con respeto, ¡No ensuciar, no destruir!</li>
      <li class="list-group-item">Cada equipo deberá recoger todo tipo de basura en su área; se les proporcionarán
        depósitos al alcance para facilitar esto.</li>
      <li class="list-group-item">Se prohíbe el consumo de alcohol; de ser visto, se retirará del lugar.</li>
    </ol>
  </div>


  <!-- Footer -->
  <footer class="footer mt-5 py-4 text-center text-white">
    <div class="container">
      <p class="mb-1">© 2025 Torneo Champions League. Todos los derechos reservados.</p>
      <p class="mb-0">
        Desarrollado por Harold Méndez Méndez
      </p>
    </div>
  </footer>
  <script type="module" src="/assets/js/main.js"></script>
</body>

</html>